{% extends 'base.html.twig' %}

{% block title %}TwelvePics / Impressum{% endblock %}

{% block body_class %}content content-location bg-light{% endblock %}

{% block body %}
    {% apply spaceless %}

        {% include 'content/header.html.twig' with {
            'title': 'Suche nach Standort',
        } %}

        {% embed 'main_layout_without_header.html.twig' %}
            {% block main_content %}
                <div id="content-location">
                    <h2 class="first">Suche nach Standort</h2>

                    {% if error is not null %}
                        <p class="error">
                            {{ error }}
                        </p>
                    {% endif %}

                    {{ form_start(form) }}
                        <div>
                            {{ form_widget(form.locationFull) }}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" id="content-location-submit">Standortsuche</button>
                        </div>
                    {{ form_end(form) }}

                    <div class="{{ locationData|length > 0 ? 'verbose' : '' }}">
                        <p class="description">
                            {{ 'general.tryThis'|trans([], 'location') }}:
                        </p>

                        <ul class="list-group">
                            <li class="list-group-item"><a class="link-primary location-own-position">Dein aktueller Standort</a> {{ constant('App\\Utils\\Icon::ICON_HALO') }}</li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="52.524889" data-longitude="13.3692797">Berlin Hauptbahnhof</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="47.358580" data-longitude="8.530299">Museum Rietberg in Zürich</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="47.900635" data-longitude="13.601868">Miglberg am Attersee</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="51.118500" data-longitude="13.125058">Stadtsporthalle Döbeln</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="27.7351308" data-longitude="-15.599363">Faro de Maspalomas auf Gran Canaria</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="54.4067051" data-longitude="18.6620502">Westerplatte in Danzig</a></li>
                        </ul>
                    </div>

                    {% if locationData|length > 0 %}

                        {% if attribute(locationData, 'place-full') is defined %}
                            <div class="cite">
                                <p>Sieht so aus, als ob du nach Folgendem suchst. {{ constant('App\\Utils\\Icon::ICON_HEART') }}</p>
                                <q>{{ attribute(locationData, 'place-full') }}</q>
                            </div>
                        {% endif %}

                        <h3>Detailliert</h3>

                        <table class="table">
                        {% for key,value in locationData %}
                            <tr>
                                <td style="width: 33%;"><b>{{ ('place.' ~ key|camel_case)|trans([], 'location') }}</b></td>
                                <td style="width: 67%;">
                                    {% if value is not empty %}
                                        {% if key == 'place-google-link' %}
                                            <a href="{{ value }}" target="_blank">Google Maps</a>
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    {% else %}
                                        <i>{{ 'general.notGiven'|trans([], 'location') }}</i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>

                        {% for key,value in data %}
                            {% if value|length > 0 %}
                                <h3>{{ ('title.' ~ key ~ 'Next')|trans([], 'location') }}</h3>

                                <table class="table">
                                    {% for place in value %}
                                        <tr>
                                            <td style="width: 33%;"><b>{{ place.name }}</b></td>
                                            <td style="width: 67%;">{{ place.distanceDbInMeter }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endblock %}
        {% endembed %}

        {% include 'content/footer.html.twig' with {

        } %}
    {% endapply %}
{% endblock %}
