{% extends 'base.html.twig' %}

{% block title %}{{ locationData|length > 0 ? attribute(locationData, 'place-full') : 'TwelvePics / Location' }}{% endblock %}

{% block body_class %}content content-location bg-light{% endblock %}

{% block body %}
    {% apply spaceless %}

        {% include 'content/header.html.twig' with {
            'title': locationData|length > 0 ? attribute(locationData, 'place-full') : 'Suche nach Standort',
        } %}

        {% embed 'main_layout_without_header.html.twig' %}
            {% block main_content %}
                <div id="content-location">

                    {#
                        Title
                    #}
                    <h2 class="first">{{ 'general.locationSearchTitle'|trans([], 'location') }}</h2>

                    {#
                        Search hints and errors
                    #}
                    {% if error is not null %}
                        <p class="error">
                            {{ error }}
                        </p>
                    {% endif %}

                    {#
                        Search Form
                    #}
                    <form name="full_location" method="get">
                        <div>
                            <input type="search" id="q" name="q" required="required" autofocus="autofocus" value="{{ search }}">
                            <input type="hidden" id="s" name="s" value="{{ sort }}">
                            <input type="hidden" id="p" name="p" value="{{ page }}">

                            {% if currentLocation is not null %}
                                <input type="hidden" id="l" name="l" value="{{ currentLocation }}">
                            {% endif %}

                            {% if verbose is same as(true) %}
                                <input type="hidden" id="v" name="v" value="1">
                            {% endif %}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" id="content-location-submit">{{ 'general.locationSearch'|trans([], 'location') }}</button>
                            <button type="submit" class="btn btn-outline-secondary search-current-position" data-app-loader-message="{{ 'general.detectPosition'|trans([], 'location') }}">{{ 'general.locationSearchCurrentPosition'|trans([], 'location') }}</button>
                        </div>
                    </form>

                    {#
                        Search examples
                    #}
                    <div class="{{ (locationData|length > 0 or results|length > 0) ? 'verbose' : '' }}">
                        <p class="description">
                            {{ 'general.tryThis'|trans([], 'location') }}:
                        </p>

                        <ul class="list-group">
                            <li class="list-group-item"><a class="link-primary location-own-position" data-app-loader-message="{{ 'general.detectPosition'|trans([], 'location') }}">Dein aktueller Standort</a> {{ constant('App\\Utils\\Icon::ICON_HALO') }}</li>
                            <li class="list-group-item"><a class="link-primary location-position" data-search="" data-latitude="52.524889" data-longitude="13.3692797">Berlin Hauptbahnhof</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="47.358580" data-longitude="8.530299">Museum Rietberg in Zürich</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="47.900635" data-longitude="13.601868">Miglberg am Attersee</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="51.118500" data-longitude="13.125058">Stadtsporthalle Döbeln</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="27.7351308" data-longitude="-15.599363">Faro de Maspalomas auf Gran Canaria</a></li>
                            <li class="list-group-item"><a class="link-primary location-position" data-latitude="54.4067051" data-longitude="18.6620502">Westerplatte in Danzig</a></li>
                        </ul>
                    </div>

                    {#
                        Show multiple results
                    #}
                    {% if results|length > 1 %}
                        <p class="description">
                            {{ 'general.results'|trans({'%search%': search, '%numberResults%': numberResults}, 'location') }}
                        </p>

                        <p class="sort-area">
                            <b>Sortieren nach</b>:
                            {% if sort is not same as('r') %}
                                <nobr><a class="link-primary sort-by sort-by-relevance" href="#">{{ 'general.links.sort.relevance'|trans([], 'location') }}</a></nobr>
                            {% else %}
                                <nobr>{{ 'general.links.sort.relevance'|trans([], 'location') }}</nobr>
                            {% endif %} |
                            {% if sort is not same as('rl') %}
                                <nobr><a class="link-primary sort-by sort-by-relevance-current-location" data-app-loader-message="{{ 'general.detectPosition'|trans([], 'location') }}" href="#">{{ 'general.links.sort.relevanceAndPosition'|trans([], 'location') }}</a></nobr>
                            {% else %}
                                <nobr>{{ 'general.links.sort.relevanceAndPosition'|trans([], 'location') }}</nobr>
                            {% endif %} |
                            {% if sort is not same as('n') %}
                                <nobr><a class="link-primary sort-by sort-by-name" href="#">{{ 'general.links.sort.name'|trans([], 'location') }}</a></nobr>
                            {% else %}
                                <nobr>{{ 'general.links.sort.name'|trans([], 'location') }}</nobr>
                            {% endif %} |
                            {% if sort is not same as('l') %}
                                <nobr><a class="link-primary sort-by sort-by-current-location" data-app-loader-message="{{ 'general.detectPosition'|trans([], 'location') }}" href="#">{{ 'general.links.sort.position'|trans([], 'location') }}</a></nobr>
                            {% else %}
                                <nobr>{{ 'general.links.sort.position'|trans([], 'location') }}</nobr>
                            {% endif %}
                        </p>

                        {# List every result #}
                        <table class="table">
                            {% for place in results %}
                                <tr>
                                    <td class="table-name" style="width: 100%!important;">
                                        <small><kbd>{{ place.featureClass }}:{{ place.featureCode }}</kbd></small>&nbsp;
                                        {% if place.distanceMeter is not same as(0.0) %}
                                            <small><kbd style="background-color: #008000;">{{ place.distanceMeter(1, 'km', 1000, true)|raw }}</kbd></small>&nbsp;
                                        {% endif %}
                                        {% if verbose %}
                                            {% if sort is same as('rl') or sort is same as('r') %}
                                                <small><kbd style="background-color: #800000;">{{ place.relevance }}</kbd></small>&nbsp;
                                            {% endif %}
                                        {% endif %}
                                        <b>{{ place.nameFull(false) }}</b>


                                        <br /><small>{{ (place.featureClass ~ '.' ~ place.featureCode)|trans([], 'place') }}</small>

                                        {% if place.elevationHill is same as(false) %}
                                            <small>, <nobr>{{ 'general.elevationNotGiven'|trans([], 'location') }}</nobr></small>
                                        {% elseif place.elevationHill is not null %}
                                            <small>, <nobr>{{ place.elevationHill }} m</nobr></small>
                                        {% endif %}
                                    </td>
                                    <td class="table-value" style="width: 0%!important;">
                                        <a class="btn btn-primary location-id" data-feature-class="{{ place.featureClass|lower }}" data-id="{{ place.id }}">Öffnen</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                        {# Pager #}
                        {% if nextPage is not same as(false) %}
                            <a class="next-page" data-next-page="{{ nextPage }}" href="#">Nächste Seite</a>
                        {% endif %}
                    {% endif %}

                    {#
                        Show search detail
                    #}
                    {% if locationData|length > 0 %}

                        {# Stage of detail #}
                        {% if attribute(locationData, 'place-full') is defined %}
                            <div class="cite">
                                <p>{{ 'general.successMessage'|trans([], 'location') }}</p>
                                <q>{{ attribute(locationData, 'place-full') }}</q>
                            </div>
                        {% endif %}

                        <h3>{{ 'general.detailed'|trans([], 'location') }}</h3>

                        <div class="compass" id="compass">
                            <div class="arrow"></div>
                            <div class="disc" id="compassDisc"></div>
                        </div>

                        {# Show place details #}
                        <table class="table">
                        {% for key,value in locationData %}
                            <tr>
                                <td class="table-name" style="width: 33%;"><b>{{ ('place.' ~ key|camel_case)|trans([], 'location') }}</b></td>
                                <td class="table-value" style="width: 67%;">
                                    {% if value is not empty %}
                                        {% if key == 'place-google-link' or key == 'place-openstreetmap-link' %}
                                            <a href="{{ value }}" target="_blank" class="btn btn-primary">{{ ('place.' ~ key|camel_case)|trans([], 'location') }}</a>
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    {% else %}
                                        <i>{{ 'general.notGiven'|trans([], 'location') }}</i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>

                        {% for key,value in places %}
                            {% if value|length > 0 %}
                                <h3>{{ ('title.' ~ key ~ '.next')|trans([], 'location') }} ({{ key }})</h3>
                                <p>{{ ('title.' ~ key ~ '.nextDetail')|trans([], 'location') }}</p>

                                <table class="table">
                                    {% for place in value %}
                                        <tr class="table-tr-first">
                                            <td class="table-compass">
                                                <div class="compass compass-direction">
                                                    <div class="arrow arrow-direction" data-degree="{{ place.degree }}"></div>
                                                </div>
                                            </td>
                                            <td class="table-name">
                                                <small><kbd>{{ place.featureCode }}</kbd></small>&nbsp;<b>{{ place.name }}{{ locationData['place-country-code'] is same as(place.countryCode) ? '' : (', ' ~ ('country.alpha2.' ~ place.countryCode|lower)|trans([], 'countries', place.countryCode)) }}</b>
                                                <br />
                                                <small>{{ (key ~ '.' ~ place.featureCode)|trans([], 'place') }}</small>
                                                {% set elevationHill = place.elevationHill %}
                                                {% if elevationHill is same as(false) %}
                                                    <small>, Höhe nicht angegeben</small>
                                                {% elseif elevationHill is not null %}
                                                    <small>, {{ elevationHill }} m</small>
                                                {% endif %}
                                            </td>
                                            <td class="table-value table-value-desktop">
                                                <a href="{{ place.googleLink }}" target="_blank" class="btn btn-primary" style="width: 100px;">{{ place.distanceMeter(3, 'km', 1000, true)|raw }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="table-value table-value-mobile">
                                                <a href="{{ place.googleLink }}" target="_blank" class="btn btn-primary" style="width: 100px;">{{ place.distanceMeter(3, 'km', 1000, true)|raw }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <p class="legal">
                        Alle Daten werden bereitgestellt von: <a href="https://www.geonames.org/" target="_blank">GeoNames</a>. Benutzerdefinierte Daten und Übersetzungen von <a href="https://twelvepics.com">twelvepics.com</a>. Version {{ version }}
                    </p>
                </div>
            {% endblock %}
        {% endembed %}

        {% include 'content/footer.html.twig' with {

        } %}
    {% endapply %}
{% endblock %}
