{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
   be used in a EasyAdmin Dashboard controller, where 'ea' is defined
   or from any other Symfony controller, where 'ea' is not defined #}
{% extends ea is defined ? ea.templatePath('layout') : '@EasyAdmin/page/login_minimal.html.twig' %}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? 'messages') %}

{% block body_class 'page-login' %}
{% block page_title %}{{ page_title is defined ? page_title|raw : (ea is defined ? ea.dashboardTitle|raw : '') }}{% endblock %}

{% block head_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block wrapper_wrapper %}
    {% set page_title = block('page_title') %}

    <div class="login-wrapper">
        <header class="main-header">
            <div id="header-logo">
                {% block header_logo %}
                    {% if page_title %}
                        {% if ea is defined %}
                            <a class="logo {{ page_title|length > 14 ? 'logo-long' }}" title="{{ page_title|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                                {{ page_title|raw }}
                            </a>
                        {% else %}
                            <div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
                                <h2 style="margin-bottom: 20px;">{{ page_title|raw }}</h2>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock header_logo %}
            </div>
        </header>

        <section class="content">

            <div style="padding-bottom: 20px;">
                {{ text|trans }}
            </div>

            <form method="post" action="{{ path('app_admin_logout') }}">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="this.form.submit(); this.disabled=true;">{{ sign_out_label }}</button>
                </div>
            </form>

            <script type="text/javascript">
                const logoutForm = document.querySelector('form');
                logoutForm.addEventListener('submit', function () {
                    logoutForm.querySelector('button[type="submit"]').setAttribute('disabled', 'disabled');
                }, false);
            </script>

            <div style="text-align: right; font-size: x-small;">{{ version }}</div>
        </section>
    </div>
{% endblock %}
